@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #3d3e46;
}

*::-webkit-scrollbar-thumb {
  background-color: #c29541;
  border-radius: 20px;
  border: solid 2px #3d3e46;
}

body {
  background-color: #edf2f4;
  color: #24252a;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.logo {
  color: #fcbe4d;
  font-size: 30px;
  margin-left: -10%;
}

li,
a {
  font-family: "Heebo";
  font-weight: 300;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

nav {
  width: 100%;
  z-index: 150;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  border-bottom: 2px solid #ca8d1a;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #fcbe4d;
}

.hero {
  background: url("./assets/img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

section {
  height: 95vh;
  min-height: 50vh;
  display: block;
  position: relative;
  overflow: hidden;
}

.section-title {
  margin-right: 5vw;
  margin-top: 7vh;
  margin-bottom: 2vh;
  text-align: right;
  font-size: 40px;
}

.about-me {
  padding-top: 10vh;
  height: 100vh;
}

.about-me img {
  z-index: 5;
  position: absolute;
  width: 20vw;
  height: auto;
  margin: 5vh 15vw;
  border: 3px solid #edf2f4;
}

.stories {
  margin-top: 2vh;
}

.back-square {
  text-align: right;
  z-index: -1;
  position: absolute;
  background-color: #fcbe4d;
  width: 60vw;
  height: 65vh;
  margin-left: 30vw;
}

.back-square h2 {
  font-family: "Heebo";
  font-weight: 900;
  font-size: 50px;
  transition: all 0.3s ease 0s;
}

.upper-quote {
  margin-right: 5vw;
}

.down-quote {
  margin-right: 50vw;
}

.back-square p {
  margin-left: 18%;
  width: 70%;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  transition: all 0.3s ease 0s;
}

.facebook-like {
  text-align: right;
  margin-top: 66vh;
  margin-right: 10vw;
}

.my-photos {
  background-color: #24252a;
/*   min-height: max-content; */
  height: 100%;
  padding-bottom: 15px;
}

.my-photos h1 {
  color: #fcbe4d;
  padding-bottom: 2vh;
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-img {
  margin: 6px;
  width: 17vw;
  height: 17vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: all 0.5s ease 0s;
}

.single-img:hover {
  opacity: 0.5;
}

.my-song {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background-color: #24252a;
}

#song-video {
  height: 100vh;
  width: 100vw;
}

#contactMe {
  height: 100vh;
  background-color: #fcbe4d;
}

.contact-from {
  position: relative;
  background-color: #24252a;
  margin-top: 1vh;
  padding-bottom: 2vh;
  height: 80vh;
  width: 80vw;
  left: 10vw;
  padding-top: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  text-align: right;
}

form label {
  color: #fcbe4d;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 18px;
}

form input {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 30%;
  height: 5vh;
  background-color: #edf2f4;
  border: none;
  text-align: center;
}

form textarea {
  margin-top: 1%;
  background-color: #edf2f4;
  border: none;
  width: 100%;
  height: 30vh;
}

.submit-contact button {
  right: 53vw;
  width: 5vw;
  position: absolute;
  display: inline-block;
  margin-top: 5vh;
  margin-right: 250px;
  padding: 5px 10px;
  color: #24252a;
  font-family: "Heebo";
  font-weight: 800;
  font-size: 20px;
  background-color: #fcbe4d;
  border: none;
}

footer h2 {
  color: #fcbe4d;
  text-align: center;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 25px;
  padding-top: 2vh;
  padding-bottom: 3vh;
}

.qr-section td {
  width: 10vw;
  border: none;
}

#remember {
  z-index: 10;
  background-image: url("./assets/img/transpernt_candle.png");
  width: 10vw;
  height: 10vw;
  margin-left: 0vw;
  margin-top: 0vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.qr-section {
  background-color: #24252a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 35vh;
  min-height: 20vw;
}

#qr {
  background-image: url("./assets/QR.png");
  width: 10vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.different {
  width: 80%;
  margin: 0 10%;
  text-align: center;
  direction: rtl;
  font-size: 12px;
}

.QA {
  font-family: "Heebo";
  font-weight: 400;
}

.example li {
  color: #24252a;
  font-family: "Heebo";
  font-weight: 400;
  text-align: right;
  direction: rtl;
  font-size: 12px;

  margin-right: 10%;
  margin-top: 1%;
}

.example span {
  font-style: oblique;
  font-weight: bold;
}

.example th,
td {
  border-bottom: 1px solid rgb(168, 160, 160);
  padding: 2% 1%;
}

.QA h1 {
  margin-top: 4vh;
  font-size: 20px;
}
